@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body,h1,h2,h3,h4,h5,h6,p {font-family:"Montserrat", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}



/*body, html {
    height: 100%;
    line-height: 1.8;
}
*/

@media only screen and (min-device-width : 481px) and (max-device-width : 640px) {
    #home {
        background-image: url("images/headerLD.jpg");
        background-position: center;
        background-size: cover;
    }
}
@media only screen and (max-device-width : 480px) {
    #home {
        background-image: url("images/headerLD.jpg");
        background-position: center;
        background-size: cover;
        min-height: 100%;

    }
}
@media only screen and (min-device-width : 641px) {
    #home {
        background-image: url("images/headerFD.jpg");
        background-position: center;
        background-size: cover;
        min-height: 100%;

    }
}
@media only screen and (min-device-width : 1025px) {
    #home {
        background-image: url("images/headerFD.jpg");
        background-position: center;
        background-size: cover;
        min-height: 100%;
    }

#home {
    font-weight: bold;
}
#topNavBar{
    background-image:linear-gradient(RGBA(32, 89,140, 0.8), RGBA(1,171,213,0.8));
    text-align: right;
}
#contact{
    background-color: RGB(1,171,213);
}
#ekosea{
    background-image: linear-gradient(RGB(194,223,240), RGB(212,216,212));
    box-shadow: 3px 3px 3px #aaa;
    text-align: center;

}
#guides {
    background-image: url("images/leguideFD.jpg");
}
#tourdefrance {
    background-image: url("images/fondtourfrance.png");
}
#guides, #reseauxsociaux, #ekosea, #tourdefrance, #bientotdisponible {
    background-size: cover;
}
#reseauxsociaux {
    background-image: url("images/plongeonFD.jpg");
}
#bientotdisponible{
    background-image: url("images/plongeonsFD.jpg");
}
.w3-bar, .w3-button {
    padding: 16px;
}

#home, #topNavBar, #guides h1 {
    text-shadow: 1px 1px 1px #0F0F0F;
}
#home, #topNavBar, #guides, #tourdefrance {
    font-family: Montserrat;
    color: #fff;
}
#guideatelecharger, #presentationduguide {
    background-color: rgba(100, 100, 100, 0.01);
}

#presentationduguide {
    text-align: right;
}
.highlight {font-weight: bold; color: light-blue;}

.vignette {height: 400px}
li, p {font-size: 18px;}
li { list-style-type: none; margin: 10px;}
li:before {
    font-family: 'FontAwesome';
    content: '\f13d';
    margin:0 1em 0 -15px;
}
#guideatelecharger li:before{
    content: '\f019';
}

#ekoseaimg {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 80%;
}
section { padding: 5px;}
a { text-decoration: dashed;}
#imgrecit{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100%;

}
